[Unit]
Description=MIC ANSWER Server
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=/opt/mic-answer
ExecStart=/opt/mic-answer/run.sh
Environment=XDG_RUNTIME_DIR=/run/user/%U
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
